<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="server=192.168.84.8;user id=zapjournals;password=zapjournals;"/>
		<add key="EntityPath" value="\\192.168.84.5\public\Zap\Entities.xml"/>
		<add key="JournalSubTypeA" value="|501|11812|"/>
		<add key="JournalSubTypeB" value="|506|717|10353|10354|12254|12548|16024|40211|"/>
		<add key="JournalSubTypeAbstract" value="|abstract|"/>
		<add key="Ignorehistoryframe" value="|12439|"/>
		<add key="OldDrive" value="R:"/>
		<add key="NewGraphicsPath" value="\\192.168.84.5\Graphics\pts"/>
		<add key="JournalLocationdetail" value="d:\Zappagination\Project\JournalAutomation\JNLPreprocessor\JNLPreprocessor\bin\Debug\JounalPathLocation.xml"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
